.header {
    color: #ffc107;
    text-align: center;
    padding: 0.5em;
    text-transform: uppercase;
    margin: 0.5em;
    /*border: 2px solid red;*/
}

.container {
    color: white;
}

.contacts {
    min-height: 400px;
    flex-direction: column;
    display: flex;
    /*border: 2px solid white;*/
    justify-content: space-between;
    margin: 2em;
    padding: 1em;


}

.message {
    min-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2em;
    /*border: 2px solid white;*/
    padding: 1em;
}

.text, .logoMail, .logoPhone {
    font-size: 0.9em
    /*font-style: italic;*/
}

.phone h3, .mail h3, .socialNetwork h3 {
    padding: 0.2em;
    font-size: 1.2em;
    opacity: 50%;

}

.inputInfo {
    display: flex;
    justify-content: center;
}

.nameSend, .mailSend {
    min-width: 200px;
    /*margin: 10px 5px 0 0;*/
    border-radius: 20px;
    /*border: 2px solid black;*/
    background: #f5c87a !important;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    padding: 0.5em;
    text-align: center;
}


.textarea {
    margin: 0.5em 0.5em;
    padding: 0.5em;
    /*border: 2px solid black;*/
    min-width: 450px;
    min-height: 100px;
    border-radius: 20px;
    background: #f5c87a !important;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.btnSend {
    font-family: 'Poppins', sans-serif;
    margin-top: 2em;
    padding: 5px 10px;
    background-color: black;
    border-color: #ffc107;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.mailImg, .phoneImg {
    border-radius: 50%;
    background-color: #ffc107;
}
